@use '../core' as *;
.field {
    --fieldInputHeight: #{$input-height};
    --fieldInputTextColor: #{$color-dark};
    --fieldInputBgColor: #{$color-light};
    --fieldInputBorderColor: #{$color-dark};
    --fieldInputPlaceHolderColor: #{$color-grey-alt};
    --fieldInputHoverBgColor: #{$color-accent};
    display: flex;
    flex-direction: column;
    align-items: start;
    row-gap: 5px;

    @include mobile {
        row-gap: 10px;
    }

    &--high {
        --fieldInputHeight: #{$button-height};
    }

    &--dark-bg {
        --fieldInputTextColor: #{$color-accent};
        --fieldInputBgColor: #{$color-dark-alt};
        --fieldInputBorderColor: #{$color-light};
        --fieldInputPlaceHolderColor: #{$color-light};
        --fieldInputHoverBgColor: #{$color-dark};

    }

    &__label {
        @include fluid-text(16,14);
    }

    &__input {
        width: 100%;
        height: var(--fieldInputHeight);
        padding-inline: 30px;
        border: 1px solid var(--fieldInputBorderColor);
        border-radius: var(--border-radius);
        color: var(--fieldInputTextColor);
        background-color: var(--fieldInputBgColor);

        &:focus {
            border-color: 1px solid var(--fieldInputTextColor);
            outline: none;
        }
        
        @include hover {
            background-color: var(--fieldInputHoverBgColor);
            
        }

        @include mobile {
            padding-inline: 20px;
        }

        &::placeholder {
            color: var(--fieldInputPlaceHolderColor);
        }

        &--textarea {
            height: 190px;
            padding-block: 19px;
            resize: none;

            @include mobile {
                height: 132px;
            }
        }
    }
}