@use '../core' as *;
.subscribe-form {
    display: flex;
    column-gap: 20px;
    // width: 100%;
    // max-width: 634px;
    padding: 58px 40px;
    background-color: $color-dark-alt;
    border-radius: $border-radius;

    @include desktop {
        flex-direction: column;
        row-gap: 22px;
        padding: 30px;
        width: 100%;
        max-width: 450px;
    }
}