@use '../core' as *;
.soc1als {
    &__list {
        display: flex;
        column-gap: 20px;
    }

    &__link {
        @include flex-center(true);
        @include square(30px);

        color: $color-dark;
        background-color: $color-light;
        border-radius: 50%;

        @include hover {
            background-color: $color-accent;
        }

        svg {
            width: 50%;
            height: 50%;
        }
    }
}